<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>

<header th:fragment="userHeader" class="border-bottom border-info mb-1">
    <nav class="navbar navbar-expand-lg container py-2">

        <a class="navbar-brand d-flex align-items-center gap-2"  href="/categorias" th:href="@{/categorias}">
            <img class="logo-img" th:src="@{/img/logo.png}" alt="Logo" />
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navContenido"
                aria-controls="navContenido" aria-expanded="false" aria-label="Alternar navegación">
            <span class="navbar-toggler-icon"></span>
        </button>

        <section class="collapse navbar-collapse " id="navContenido">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" th:href="@{/categorias}">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/nuevaSubasta}">Subastar</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/calcular-envio}">Calcular envío</a></li>
                <li class="nav-item">
                    <form class="d-flex" role="search" method="get" th:action="@{/subastas}">
                        <div class="input-group">
                            <input  name="titulo" class="form-control" type="search" placeholder="Buscar..." aria-label="Buscar">
                            <button class="btn btn-primary" type="submit"><i class="bi bi-search"></i></button>
                        </div>
                    </form>
                </li>
                <li class="nav-item"><a class="nav-link" th:href="@{/perfil}">Mi perfil</a></li>
                <li class="nav-item" th:if="${session.email}">
                    <a class="nav-link" th:href="@{/logout}">
                        <button class="btn btn-outline-danger btn-sm" type="button">Cerrar sesión</button>
                    </a>
                </li>
            </ul>
        </section>

    </nav>
</header>

</body>
</html>