<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>

<header th:fragment="userHeader" class="border-bottom border-info mb-1">
    <nav class="navbar navbar-expand-lg container py-2">

        <section class="collapse navbar-collapse " id="navContenido">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" th:href="@{/inicio}">Inicio</a></li>
            </ul>
        </section>

    </nav>
</header>

</body>
</html>