<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Taller Web I - Mi perfil</title>

  <!-- Boostrap core css -->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

  <!-- custom style -->
  <link rel="stylesheet" th:href="@{/css/main.css}"/>
  <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}" />

  <!-- Boostrap core css -->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

  <!-- custom style -->

  <link rel="stylesheet" th:href="@{/css/categorias.css}"/>

</head>

<body>

<!-- Header -->
<div th:replace="~{fragments/header :: userHeader}"></div>

<main role="main" class="container">

  <h2 class="mt-3">¡Bienvenido <span th:text="${usuario.nombre}"></span> <span th:text="${usuario.apellido}"></span>!</h2>
  <p>Este es un resumen de tu perfil donde podrás ver tus datos, historial de subastas creadas y a las cuáles ofertaste.</p>

  <div class="accordion accordion-flush mb-3" id="accordionFlushExample">
    <div class="accordion-item border">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          Modificá tus datos
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">

        <form th:action="@{/perfil}" th:object="${usuario}" method="post" class="row g-3 p-3">

            <div class="col-md-6">
              <label for="nombre" class="form-label">Nombre</label>
              <input th:field="*{nombre}" type="text" class="form-control" id="nombre">
            </div>
            <div class="col-md-6">
              <label for="apellido" class="form-label">Apellido</label>
              <input th:field="*{apellido}" type="text" class="form-control" id="apellido">
            </div>
            <div class="col-md-4">
                <label for="pais" class="form-label">País</label>
                <select class="form-select mb-2" aria-label="Default select example" id="pais" th:field="*{pais}">
                    <option selected th:value="*{pais}"></option>
                    <option value="Argentina">Argentina</option>
                    <option value="Brasil">Brasil</option>
                    <option value="Bolivia">Bolivia</option>
                    <option value="Chile">Chile</option>
                    <option value="Paraguay">Paraguay</option>
                    <option value="Uruguay">Uruguay</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="provincia" class="form-label">Provincia</label>
                <input th:field="*{provincia}" type="text" class="form-control" id="provincia" placeholder="Provincia">
            </div>
            <div class="col-md-4">
                <label for="ciudad" class="form-label">Ciudad</label>
                <input th:field="*{ciudad}" type="text" class="form-control" id="ciudad" placeholder="Ciudad">
            </div>
            <div class="col-md-4">
              <label for="direccion" class="form-label">Dirección</label>
              <input th:field="*{direccion}" type="text" class="form-control" id="direccion" placeholder="Dirección">
            </div>
            <div class="col-md-4">
              <label for="cp" class="form-label">Código Postal</label>
              <input th:field="*{cp}" type="number" class="form-control" id="cp" placeholder="Código Postal">
            </div>
            <div class="col-md-4">
              <label for="telefono" class="form-label">Teléfono</label>
              <input th:field="*{telefono}" type="number" class="form-control" id="telefono" placeholder="Teléfono">
            </div>
            <div class="col-md-6">
              <label for="email" class="form-label">Email</label>
              <input th:value="*{email}" type="email" class="form-control" id="email" disabled readonly>
            </div>
            <div class="col-md-6">
              <label for="dni" class="form-label">DNI</label>
              <input th:field="*{dni}" type="number" class="form-control" id="dni" disabled readonly>
            </div>

          <button type="submit" class="btn btn-success">Guardar cambios</button>
        </form>

      </div>
    </div>
  </div>

    <div class="accordion accordion-flush mb-3" id="accordionFlushExample2">
        <div class="accordion-item border">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne2" aria-expanded="false" aria-controls="flush-collapseOne2">
                    Resumen de tus subastas creadas
                </button>
            </h2>
            <div id="flush-collapseOne2" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample2">

                <div th:if="${#lists.isEmpty(subastas)}">
                    <h5 class="m-3">No tenés subastas creadas todavía.</h5>
                </div>

                <section class="container">
                    <article  class="my-2 row row-cols-1 row-cols-sm-3 row-cols-lg-4 g-4">
                        <div th:each="subasta : ${subastas}">
                            <section th:replace="~{fragments/card-subasta :: subastaCard(subasta=${subasta})}"></section>
                        </div>
                    </article>
                </section>

            </div>
        </div>
    </div>

    <div class="accordion accordion-flush mb-3" id="accordionFlushExample3">
        <div class="accordion-item border">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne3" aria-expanded="false" aria-controls="flush-collapseOne3">
                    Resumen de subastas en donde ofertaste
                </button>
            </h2>
            <div id="flush-collapseOne3" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample3">

                <div th:if="${#lists.isEmpty(subastasOfertadas)}">
                    <h5 class="m-3">No ofertaste en subastas todavía.</h5>
                </div>

                <section class="container">
                    <article  class="my-2 row row-cols-1 row-cols-sm-3 row-cols-lg-4 g-4">
                        <div th:each="subasta : ${subastasOfertadas}">
                            <section th:replace="~{fragments/card-subasta :: subastaCard(subasta=${subasta})}"></section>
                        </div>
                    </article>
                </section>

            </div>
        </div>
    </div>

</main>
<!-- /.container -->

<!-- Footer -->
<div th:replace="~{fragments/footer :: footer}"></div>

<!-- Boostrap core js -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>
</html>