<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Oferta confirmada</title>
    <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}" />

    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">

    <!-- custom style -->
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/categorias.css}"/>
</head>
<body>

<!-- Header -->
    <div th:replace="~{fragments/header :: userHeader}"></div>


<main class="d-flex flex-column justify-content-center align-items-center h-100 flex-grow-1">
    <div class="card shadow-lg border-0 rounded-4 text-center p-4 w-75 w-md-50 w-lg-25 mx-auto">
        <div class="card-body">
            <div class="mb-3">
                <i class="bi bi-check-circle-fill text-primary display-1"></i>
            </div>
            <h2 class="fw-bold text-primary mb-3">¡Oferta Confirmada!</h2>
            <p class="text-muted mb-4">
                Tu nueva subasta fue registrada correctamente en el sistema.<br>

                Tu oferta se registró correctamente con en ID: <strong th:text="${ultimaOferta.id}"></strong>
                para el producto <span th:text="${subastaDet.id}">.</span><br>
                Te notificaremos si sos el ganador de la subasta! <br>


            </p>

            <div class="d-flex justify-content-center gap-3">
                <a th:href="@{/categorias}" class="btn btn-primary px-4">
                    Volver al Inicio
                </a>
                <a th:href="@{/nuevaSubasta}" class="btn btn-outline-primary px-4">
                    Ver mis Subastas
                </a>

            </div>
        </div>
    </div>
</main>

<!-- Footer -->
<div th:replace="~{fragments/footer :: footer}"></div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>